{% extends "base_generic.html" %}

{% load humanize %}

{% block content %}

  <h3>Total value history</h3>
  {% if value_history %}
    <table class="table table-sm table-striped">
      {% for pk, date, value in value_history %}
      <tr>
        <td><a href="{% url 'asset-date-detail' pk %}">{{ date }}</a></td>
        <td>{{ value|intcomma }}</td>
      </tr>
      {% endfor %}
    </table>
    <a href="{% url 'create-asset-date' %}">Create another date</a>
  {% else %}
    <p>There is no history.</p>
  {% endif %}
{% endblock %}
